section#about{
  background-color: white;
  min-height: 800px;
  box-sizing: border-box;
}
section#about .wrap{
  display: grid;
  grid-template-columns:  auto 1fr;
  grid-template-rows: auto auto auto;
  width: 1000px;
}
section#about .wrap h2{
  font-size: 100px;
  grid-column: 2;
  padding-bottom: 30px;
  border-bottom: 1px solid #c1c1c1;
  grid-row: 1;
  text-align: center;
}
section#about .wrap p {  
  grid-column: 2;
  grid-row: 2;
  margin: 30px 40px;
  color: black;
  line-height: 1.6;
  text-align: center;
  background-color: #EEE;
  padding: 10px;
  border-radius: 10px;
  font-weight: 500;
}
section#about .wrap p span{
  
}
section#about .wrap img {
  width: 400px;
  grid-column: 1;
  grid-row: 1 / span 3;
  filter: grayscale(0.9);
  cursor: pointer;
}
section#about .wrap ul{
  grid-column: 2;
  grid-row: 3;
  margin: 0 40px;
  padding: 10px;
  background-color: #eee;
  border-radius: 10px;
}
section#about .wrap ul li{
  line-height: 2.5;
  font-weight: bold;
  color: #666;
}
section#about .wrap ul li span{  
  line-height: 2.5;
  color: black;
  font-weight: 500;
}
