section#portfolio{
  background-color: #fff;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 800px;
}
section#portfolio .wrap{   
  text-align: center;
  box-sizing: border-box;
  /*! border-bottom: 1px solid; */
  max-width: 1000px;
  padding: 0;
}
section#portfolio .wrap h2{
  padding-bottom: 15px;
  font-size: 100px;
  border-bottom: 1px solid black;
  width: 100%;
}
section#portfolio .wrap .portAni{   
  padding: 100px 0;
}
section#portfolio .wrap .portAni .port {   
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  margin: 0 auto;
}
section#portfolio .wrap .portAni .port h3 {   

  grid-column: 2;
  grid-row: 1;
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: bold;
}
section#portfolio .wrap .portAni .port ul {   
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
section#portfolio .wrap .portAni .port ul li {   
  font-size: 18px;
  text-align: left;
  line-height: 2.5;
}
section#portfolio .wrap .portAni .port ul li span {   
  font-weight: bold;
  margin-right: 17px;
  line-height: 2.5;
}
section#portfolio .wrap .portAni .port ul li span.under{
    margin-left: 67px;
  font-weight: initial;
}
section#portfolio .wrap .portAni .port a.button {   
  grid-column: 2;
  grid-row: 3;
  background-color: black;
  width: 300px;
  height: 50px;
  border-radius: 30px;
  justify-self: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  line-height: 2.5;
}
ection#portfolio .wrap .portAni .port a.button:hover{  
  background-color: #8997a9;
}
section#portfolio .wrap .portAni .port img {   
  grid-column: 1;
  grid-row: 1 /span 3;
  width: 450px;
}

section#portfolio .wrap .slick-dots{  
  bottom: 30px;
}
section#portfolio .slick-dots li.slick-active button:before{
    opacity: .75;
    color: #F48181;
}

