@media screen and (max-width:1440px){
  body{
    overflow-x: hidden;
  }
  
/* aside   */
   aside {
    right: 25px;
  }
/*  title  */
  div#title div.wrap h2{    
    font-size: 144px;
  }
  
/*  about  */
  section{
    min-height: 100% !important;
  }
  section#about{
    padding: 0 15px;
  }
  section#about .wrap img
  
/* skill   */
  section#skill{    
    padding: 50px 0px 0 40px;
  }
  section#skill .wrap h2::after{    
    height: 80%;
}
  section#skill .wrap .left{    
    margin: 30px auto 0;
  }
  section#skill .wrap .left::before{    
    left: -73px;
  }
  section#skill .wrap .left ul li{    
  padding: 15px;
  }
  
/*  portfolio  */
  .slick-dots{
    bottom: -44px;
  }
  section .wrap h2{
   font-size: 80px !important; 
  }
  
/*  portfolio  */
  section#portfolio .wrap .portAni{    
    padding: 50px 0;
  }
  section#portfolio .wrap .portAni .port img{
     width: calc(100vw / 3); 
  }
  section#portfolio .wrap .slick-prev,
  section#portfolio .wrap .slick-next{    
    display: none !important;
  }
  
/*  contact  */
  section#contact .top{    
    right: calc((100vw / 2) - 50px);
    bottom: 10px;
  }
}

@media screen and (max-width:1024px){  
/*  어사이드  */
  aside{
    display: none;
  }
/*  섹션타이틀aos  */
  .aos-animate, .aos-init{    
    transform: none !important;
    opacity: initial !important;
    transition-duration: initial !important;
    transition-timing-function: initial !important;
    transition-property: initial !important;
  }
/* 헤더 */ 
  header{
    padding: 0 15px;
    box-sizing: border-box;
  }
  header .wrap{    
    width: calc(100vw - 30px);
  }
  header h1 a{    
    font-size: 15px;
  }
  header ul li a{
    font-size: 30px;
  }
  header ul{    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    right: -100%;
    top: 0;
    z-index: 0;
    background-color: #d5d5d5;
    transition: 1s ease-out;
  }
  .gnbShow{
     right: 0 !important;
  }
/*  ham  */
  .ham{
    display: flex !important;
    position: relative;
  }
  .ham.close{
    background-image: url(../img/close.svg);
  }
/*  타이틀  */
  div#title{
  padding: 0 15px;
  min-height: auto;
}
  div#title::after{    
    background-position-x: right;
  }
  div#title div.wrap{    
    width: calc(100vw - 30px);
  }
  div#title div.wrap h2{
    font-size: 80px;
  }
  
/*  어바웃  */
  section#about{    
    padding: 30px 15px;
   }
  section#about .wrap{
    width: calc(100vw - 30px);
    display: flex;
    flex-direction: column;
  }
  section#about .wrap h2{
    font-size: 60px !important;
    padding-bottom: 30px;
    border-bottom: 1px solid #c1c1c1;
  }
  section#about .wrap p{    
    padding: 20px;
    margin: 0;
    font-size: calc(100% * 0.8);
    line-height: 2;
  }
  section#about .wrap p span{    
    line-height: 2;
}
  section#about .wrap img{   
    display: none;
  }
  section#about .wrap ul{
    width: calc(100vw - 30px);
    font-size: calc(100% * 0.8);
  }
  section#about .wrap ul li{    
    line-height: 2.5;
  }
  section#about .wrap ul li span{    
    line-height: 2.5;
    font-weight: initial;
  }
  
/*  스킬  */
  section#skill{    
    padding: 30px 15px;
  }
  section#skill .wrap{    
    width: calc(100vw - 30px);
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  section#skill .wrap h2{    
    font-size: 60px !important;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #c1c1c1;
  }
  section#skill .wrap h2::after{    
    display: none;
  }
  section#skill .wrap .left{    
    width: calc(100vw - 30px);
    margin: 30px 0 0;
  }
  section#skill .wrap .left::before{    
    display: none;
  }
  section#skill .wrap .left ul{    
    padding: 0;
    gap: 20px;
  }
  section#skill .wrap .left ul li{    
    width: calc(100vw - 30px);
    font-size: calc(100% * 0.8);
  }
  section#skill .wrap .left ul li h3{    
    margin-bottom: 5px;
    font-size: 20px;
  }
  section#skill .wrap .left ul li p{    
    line-height: 1.6;
  }
  section#skill .wrap .left ul li span{    
    line-height: 1.6;
  }
  section#skill .wrap .left ul li img{
    
  width: 20px;
  }
  
/*  포트폴리오  */
  section#portfolio{    
    padding: 30px 15px;
  }
  section#portfolio .wrap{    
    width: calc(100vw - 30px);
    height: 100%;
  }
  section#portfolio .wrap h2{    
    font-size: 60px !important;
    padding: 0 0 30px;
    display: block;
    border-bottom: 1px solid #c1c1c1;
  }
  section#portfolio .wrap h2::before{    
    display: none;
  }
  section#portfolio .wrap h2::after{    
    display: none;
  }
  section#portfolio .wrap .portAni{    
    padding: 50px 0 0;
  }
  section#portfolio .wrap .portAni .port img{
    
  width: calc(100vw / 2.5);
  }
  section#portfolio .wrap .portAni .port a.button{
    
  margin-top: 24px;
  }
  section#portfolio .wrap .slick-dots{    
    bottom: -50px;
  }
  
/*  컨택  */
  section#contact{    
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  section#contact .wrap{    
    width: calc(100vw - 30px);
  }
  section#contact .wrap h2{    
   font-size: 60px !important;
  }
  section#contact .wrap p{    
    font-size: calc(100% * 0.8);
    line-height: 1.6;
    padding: 20px;
  }
  section#contact .wrap ul{    
    gap: 50px;
    height: 30%;
  }
  section#contact .wrap ul li{    
    padding: 0;
  }
  section#contact .wrap ul li::before{    
    height: 5vw !important;
  }
  section#contact .top{    
    right: auto;
    width: 30px;
    height: 30px;
  }
  section#contact .top::before{    
    width: 30px;
    height: 30px;
  }
  section#portfolio .slick-next{
    display: none !important;
}
  section#portfolio .slick-prev{
    display: none !important;
}
  
/*  하단  */
  footer .wrap{    
    width: calc(100vw - 30px);
  }
  footer .wrap p{    
    font-size: 10px;
  }

}

@media screen and (max-width:480px){
/*  title  */
  div#title div.wrap h2{    
    font-size: 35px;
  }
/* about */
  section#about{
    
  }
  section#about .wrap ul{
    font-size: calc(100% * 0.7);
  }
  section#about .wrap p{    
    font-size: calc(100% * 0.7);
  }
  
  
/*  skill  */
  section#skill{
    
  padding: 50px 15px 0;
  }
  section#skill .wrap h2{
    
  padding-bottom: 20px;
  }
  section#skill .wrap .left{
    margin: 20px 0 0;
  }
  section#skill .wrap .left ul{    
    gap: 10px;
  }
  section#skill .wrap .left ul li{
    font-size: calc(100% * 0.7);
    padding: 10px;
  }
  section#skill .wrap .left ul li p{    
    line-height: 1.6;
  }
  section#skill .wrap .left ul li span{
    
  line-height: 1.6;
  }
  section#skill .wrap .left ul li h3{
    font-size: 18px;
  }
  section#skill .wrap .left ul li img{
    
  width: 20px;
  }
  
/*  portfolio  */
  section#portfolio{
    
  padding: 50px 15px 30px;
  }
  section#portfolio .wrap h2{    
    font-size: 45px !important;
    padding-bottom: 20px;
    display: block;
    border-bottom: 1px solid #c1c1c1;
  }
  section#portfolio .wrap .portAni{    
    padding: 50px 0 0;
  }
  section#portfolio .wrap .portAni .port{    
    display: flex;
    flex-direction: column;
  }
  section#portfolio .wrap .portAni .port h3{
    order: 2; 
    font-size: 25px;
    margin: 10px auto 10px;
    padding: 0;
  }
  section#portfolio .wrap .portAni .port ul{
    order: 3;  
  }
  section#portfolio .wrap .portAni .port ul li{    
    font-size: 13px;
  }
  section#portfolio .wrap .portAni .port a.button{
    order: 4;  
    margin: 20px auto;
  }
  section#portfolio .wrap .portAni .port img{    
    order: 1;
    width: calc(100vw / 2);
  }
  section#portfolio .wrap .slick-dots{    
    bottom: -18px;
  }
  
/*  contact  */
  section#contact .wrap p{    
    font-size: calc(100% * 0.7);
  }
  section#contact .wrap ul li::before{    
    height: 10vw !important;
  }

}