section#skill{
    background-color: #eee;
    box-sizing: border-box;
    min-height: 800px;
  }
section#skill .wrap{
    display: flex;
    box-sizing: border-box;
  }
section#skill .wrap h2{
  font-size: 100px;
  position: relative;
  }
section#skill .wrap h2::after{
  content: "";
  background-image: url(../img/eng4.png);
  display: block;
  width: 272px;
  height: 536px;
  transform: translateX(-15px);
  position: absolute;
  right: -12px;
  opacity: 40%;
  background-size: contain;
}
section#skill .wrap .left{
  width: 60%;
  position: relative;
  margin: 50px auto;
  position: relative;
}
section#skill .wrap .left::before{
  content: "";
  border-top: 1px solid;
  display: block;
  width: 716.6px;
  position: absolute;
  left: -44px;
}
section#skill .wrap .left .bar{

}
section#skill .wrap .left .bar .skill{  
  line-height: 3.5;
}
section#skill .wrap .left .bar:nth-child(1) .skill{  
  padding-top: 8px;
}
section#skill .wrap .left .bar .outer{  
  height: 1.25em;
  background: #EEEEEE;
  position: relative;
  border-radius: 0.3em;
  background-color: #b1b1b1;
}
section#skill .wrap .left .bar .outer .inner{
  height: 1.25em;
  border-radius: 0.3em;
  background-color: black;
}



















